ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family:arial;
    font-size:85%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    text-decoration-line: underline
  }
  #squares {
      position:relative;
      top:-5px;
  }

 .logo {
    display:block;
    margin:auto;
    margin-top:150px;
  }

  .searchbox {
    background-color: white;
    padding:10px;
    width:535px;
    height:40px;
    margin: auto;
    display:block;
    border-radius:30px;
    border: 1px solid lightgray;
    border-shadow:none;
    margin-top:30px;
  }

  .button {
    display: inline-block;
    margin: auto;
    padding: 10px;
    padding-left:15px;
    padding-right:15px;
    margin: 10px;
    border:none;
    color: rgb(129, 129, 129);
    background-color: rgb(238, 236, 236);
    border-radius: 3px;
  }

  .buttons {
    margin-left: auto;
    margin-right: auto;
    display:block;
    width: 23%;
  }

  form {
    margin-left: auto;
    margin-right: auto;
    display:block;
  }

  .footer {
      position:fixed;
      bottom: 0;
      left:0;
      right:0;
      width: 100%;
      background-color: rgb(243, 242, 242);
      border-top: 0.5px lightgray solid;
      padding: 10px;
  }
  a.footerleft {
    text-decoration: none;
    overflow: hidden;
    font-family:arial;
    font-size:85%;
    color: gray;
    float:left;
    padding:4px 10px 4px 10px;
  }

  .footer2 {
      float:right;
  }
  a.footerright {
    text-decoration: none;
    overflow: hidden;
    font-family:arial;
    font-size:85%;
    color: gray;
    text-align:right;
    padding:4px 8px 4px 8px;
    margin-right:20px;
    order:reverse;
  }